@charset "UTF-8";
#main_center_inner{
    margin-top: 30px;
    text-align: initial;
}
#main_center_title{
    margin-top: 10px;
}
#preview_img{
    width: 130px;
    height: 160px;
    background: white;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    vertical-align: bottom;
    border: solid 1px #DDD;
    cursor: pointer;
}
#preview_img_input{
    display:none;
}
#l_preview_img_input{
    display: inline-block;
    vertical-align: bottom;
    background-color: #8D5F31;
    color: white;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    cursor: pointer;
}
#l_preview_img_input:hover{
    opacity: 0.7;
}
#user_profile_wrap{
    margin-left: 10px;
    margin-top: 10px;
    flex: 1;
    position: relative;
}
#info_tag_inner .tag p{
    margin: 0;
}
#info_tag_inner{
    flex: 1;
}

#info_tag_wrap{
    display: flex;
    display: -webkit-flex;
}
#user_profile_wrap p{
    font-size: 18px;
    margin-top: 10px;
}
#user_profile_wrap #user_name{
    color: #8D5F31;
    margin: 0;
    display: inline-block;
    vertical-align: bottom;
}
#explain_title{
    text-align: left;
    font-size: initial;
    margin-left: 10px;
    margin-top: 10px;
}
#explian_wrap{
    width: 100%;
    height: auto;
    text-align: initial;
}
#explian{
    width: 100%;
    border: solid 1px #CC9966;
    padding: 5px;
    margin-top: 5px;
    height: 200px;
}
#add_tag_wrap{
    align-self: flex-end;
    display: flex;
    display: -webkit-flex;
    border-radius: 0 10px;
    margin-left: auto;
    flex: initial;
}
#add_tag_wrap input{
    font-size: 20px;
    width: 150px;
    background: white;
    padding: 0;
    margin: 0;
    display: inline-block;
    border: solid 1px #CC9966;
}
#add_tag_btn{
    width:100px;
    color: white;
    cursor: pointer;
    background: #CC9966;
}
#add_tag_btn:active{
    opacity: 0.6;
}
#user_name_input{
    border: solid 2px #8D5F31;
    background: white;
    display: inline-block;
    border-radius: 5px;
    vertical-align: bottom;
    font-size: 16px;
}
.flex_box{
    display: flex;
    display: -webkit-flex;
}
p span{
    color: #8D5F31;
}
#user_pref{
    display: inline-block;
}
#prefecture{
    margin-left: 10px;
    vertical-align: baseline
}
#user_id{
    margin-bottom: 10px;
}